<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiKey" value="f506d7542c10fdd1c2ef14ff408459d8"/>
  </appSettings>
  <connectionStrings>
    <add name="FilmatorContext"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=FilmatorTestDb;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework" />
  </connectionStrings>
</configuration>